<div>
  <form action='/' method='post'>
    <label for='title' type='text'><p>Your entry title:</p></label>
    <input type='text' name='title'>
    <label for='body' type='text'><p>Your entry body:</p></label>
    <textarea class='body_entry' type='text' name='body'></textarea>
    <input type='submit' value='Submit'>
  </form>
</div>
