<h1>My Diary</h1>
<div>
  <form action='/' method='post'>
    <label for='title' type='text'><p>Your entry title:</p></label>
    <input type='text' name='title'>
    <label for='body' type='text'><p>Your entry body:</p></label>
    <input type='text' name='body'>
    <input type='submit' value='Submit'>
  </form>
</div>
