<%= erb :header %>
<%= erb :entry_form %>
<div>
  <form action='/entries' method='get'>
    <input type='submit' value='View all entries'>
  </form>
</div>
<h3><i>Please enter a title and body before submitting!</i></h3>
