body {
  text-align: center;
  font-family: helvetica;
}
.button_link {
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}
.body_entry {
  width: 50%;
  height: 30%;
}
.header {
  font-family: 'Merienda', cursive;
  text-align: center;
  font-size: 32px;
}
